@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

body{
    font-family: "Raleway", sans-serif;
    height: 100%;

    .container{
        overflow: hidden;
        position: relative;
        width: 350px;
        height: 500px;
        margin: 80px auto 0;
        background-color: #15223b;
        box-shadow: (rgba(0, 0, 0, 0.2) 0px 10px 30px 0px);
        border-radius: 2rem;

        .loginTitle{
            height: 100px;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: rgb(62, 154, 154);
        }

        .loginInput{
            height: 300px;
            color:aliceblue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input{
                width: 200px;
                height: 50px;
                margin: 10px auto 0;
                border-radius: 0.5rem;
                font-size: medium;
                border: 0cm;
            }
        }

        .btns{
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .loginbtn{
                width: 80px;
                height: 30px;
                font-size: 12pt;
                color: green;
                border-radius: 0.5rem;
                border: 0cm;
            }

            .signupbtn{
                width: 80px;
                height: 30px;
                font-size: 12pt;
                color: red;
                border-radius: 0.5rem;
                border: 0cm;
            }
        }
    }
}